.contact{
    margin-top: 50px;

    li{
        margin-bottom: 10px;
    }
    
    a{
        color: #8A8A8A;
        text-decoration: none;
        i{
            color: #BF8339;
            border: solid 2px #BF8339;
            padding: 5px;
            margin-right: 10px;
            width: 30px;
            text-align: center;
        }
    }
}